In [128]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [129]:
sales_sample = pd.read_csv('5000 Sales Records.csv')

sales_sample.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

## Entendendo a Base de Dados

In [130]:
sales_sample['Region'].unique() #Conferindo as regiões da base

array(['Central America and the Caribbean', 'Europe', 'Asia',
       'Middle East and North Africa', 'Australia and Oceania',
       'Sub-Saharan Africa', 'North America'], dtype=object)

In [131]:
sales_sample['Sales Channel'].unique() #Conferindo os tipos de venda

array(['Online', 'Offline'], dtype=object)

In [132]:
sales_sample['Total Revenue'].sum() #Descobrindo o valor total de vendas

6628689208.54

In [133]:
sales_sample['Item Type'].unique()

array(['Baby Food', 'Snacks', 'Beverages', 'Cereal', 'Personal Care',
       'Clothes', 'Office Supplies', 'Cosmetics', 'Meat', 'Fruits',
       'Vegetables', 'Household'], dtype=object)

## Organizing the Data

In [134]:
#sales_sample['Unit Price', 'Unit Cost', 'Total Revenue', 'Total Cost'].format(':.2f')
#sales_sample.head()

## Data Analysis

In [135]:
revenue_per_region = sales_sample.groupby('Region')['Total Revenue'].sum() #Somando o Total de vendas por Região

revenue_per_region

Region
Asia                                 9.202771e+08
Australia and Oceania                5.873641e+08
Central America and the Caribbean    6.849763e+08
Europe                               1.703622e+09
Middle East and North Africa         7.668678e+08
North America                        1.510143e+08
Sub-Saharan Africa                   1.814567e+09
Name: Total Revenue, dtype: float64

In [136]:
cost_per_region = sales_sample.groupby('Region')['Total Cost'].sum() #Custo total por Região

cost_per_region

Region
Asia                                 6.420394e+08
Australia and Oceania                4.124295e+08
Central America and the Caribbean    4.803643e+08
Europe                               1.201946e+09
Middle East and North Africa         5.354875e+08
North America                        1.097739e+08
Sub-Saharan Africa                   1.283425e+09
Name: Total Cost, dtype: float64

In [137]:
revenue_region_item = sales_sample.groupby(['Region', 'Item Type'])['Total Revenue'].sum() #Faturamento total por Região e produto
revenue_region_item

Region              Item Type
Asia                Baby Food          8.608807e+07
                    Beverages          1.598220e+07
                    Cereal             6.213498e+07
                    Clothes            3.283766e+07
                    Cosmetics          1.260924e+08
                                           ...
Sub-Saharan Africa  Meat               1.978571e+08
                    Office Supplies    4.070525e+08
                    Personal Care      4.826598e+07
                    Snacks             7.917925e+07
                    Vegetables         7.912645e+07
Name: Total Revenue, Length: 84, dtype: float64

In [138]:
margin_per_row = sales_sample['Total Profit']/sales_sample['Total Revenue'] * 100 #margem por linha

margin_per_row

0       37.550924
1       36.138419
2       33.003161
3       43.067574
4       36.138419
          ...
4995    24.799856
4996    67.203514
4997    37.550924
4998    67.203514
4999    40.977541
Length: 5000, dtype: float64

In [139]:
new_sales_sample = pd.concat(objs= [sales_sample, margin_per_row], axis=1, join='outer', ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=False, copy=True)
new_sales_sample.rename(columns ={0: 'Margin'}, inplace=True) 


new_sales_sample.head()

#adicionando a coluna de Margem ao DF para ser mais fácila grupar por região!

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Margin
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72,37.550924
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38,36.138419
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48,33.003161
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44,43.067574
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88,36.138419

In [140]:
calcs = revenue_per_region - cost_per_region

calcs.sort_values(ascending=False)   #aqui eu cheguei no LUCRO por região

#A AÉRA QUE DEU MAIS LUCRO FOI ÁFRICA SUBSAARIANA

Region
Sub-Saharan Africa                   5.311423e+08
Europe                               5.016760e+08
Asia                                 2.782377e+08
Middle East and North Africa         2.313803e+08
Central America and the Caribbean    2.046120e+08
Australia and Oceania                1.749346e+08
North America                        4.124040e+07
dtype: float64

##### The most profitable area is Sub-Saharan Africa

In [141]:
margin_per_region = calcs/revenue_per_region * 100

margin_per_region.sort_values(ascending=False)

#A AÉRA QUE COM A MAIOR MARGEM É ASIA

Region
Asia                                 30.234118
Middle East and North Africa         30.172124
Central America and the Caribbean    29.871394
Australia and Oceania                29.782987
Europe                               29.447608
Sub-Saharan Africa                   29.271015
North America                        27.308944
dtype: float64

##### Asia has the largest margin

In [142]:
most_sold_item = new_sales_sample.groupby('Item Type')['Units Sold'].sum()

most_sold_item.sort_values(ascending=False)

Item Type
Fruits             2341083
Baby Food          2274921
Beverages          2208169
Cosmetics          2141909
Personal Care      2134895
Office Supplies    2107628
Household          2099238
Vegetables         2090330
Clothes            1983445
Cereal             1949601
Snacks             1921075
Meat               1901197
Name: Units Sold, dtype: int64

#### The most sold item was Fruit

In [143]:
type_of_sell = new_sales_sample['Sales Channel'].value_counts() / new_sales_sample['Sales Channel'].count() * 100
 
type_of_sell

Offline    50.08
Online     49.92
Name: Sales Channel, dtype: float64

#### 50,08% were offline, the reste (49,92%) were online

In [194]:
#ajustando o formato da data para a análise que preciso fazer!

year_of_sells = new_sales_sample['Order Date'].str.split('/', expand=True)

year_of_sells.columns
year_of_sells.rename(columns={0: 'Dia', 1: 'Mês', 2: 'Ano'}, inplace=True)

In [145]:
final_sample =  pd.concat(objs = [new_sales_sample, year_of_sells], axis=1, ignore_index=False) #Unindo os dois DFs

final_sample.columns

Index(['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit', 'Margin',
       'Dia', 'Mês', 'Ano'],
      dtype='object')

In [146]:
cols = ['Region', 'Country', 'Item Type', 'Sales Channel', 'Order Priority',
       'Order Date','Dia', 'Mês', 'Ano', 'Order ID', 'Ship Date', 'Units Sold', 'Unit Price',
       'Unit Cost', 'Total Revenue', 'Total Cost', 'Total Profit', 'Margin']

final_sample = final_sample[cols] #Organizando a ordem das colunas
final_sample.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Dia,Mês,Ano,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,Margin
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,12,20,2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72,37.550924
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,7,5,2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38,36.138419
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,9,12,2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48,33.003161
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,5,13,2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44,43.067574
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,7,20,2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88,36.138419

In [190]:
revenue_per_year = final_sample.groupby('Ano')['Total Revenue'].sum() 

revenue_per_year.sort_values(ascending=False)

Ano
2015    9.845038e+08
2012    9.036474e+08
2013    9.028807e+08
2014    8.563977e+08
2016    8.553198e+08
2011    8.376222e+08
2010    8.177654e+08
2017    4.705522e+08
Name: Total Revenue, dtype: float64

#### The biggest Revenue was in 2015

In [193]:
perc_revenue_year = final_sample.groupby('Ano')['Total Revenue'].sum() / final_sample['Total Revenue'].sum() * 100

perc_revenue_year

Ano
2010    12.336758
2011    12.636318
2012    13.632370
2013    13.620803
2014    12.919564
2015    14.852164
2016    12.903302
2017     7.098722
Name: Total Revenue, dtype: float64